@import "../../../../styles/colors";

.event {
  color: $black;
  display: flex;
  width: 100%;
  flex-direction: column;

  gap: 5px;

  &.shortEvent {
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    flex-direction: row;

  }

  &.mediumEvent {
  }

  &.longEvent {
  }

  .colorCircles {
    display: flex;
    align-items: center;
    gap: 0.25em
  }

  .colorCircle {
    margin-right: 2px;
  }

  .remainingCount {
    font-size: 0.8em;
    margin-left: 2px;
  }


  .time {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  .title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
  }


  .resourceIcons{
    display: flex;
    gap: 0.5em;
    align-items: center;

  }
}
